body {
  margin: 0;
  background-color: rgb(238, 238, 238);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-width{
  width: 18rem;
}

.container-width{
  width: 75%;
}

.carousel-img{
  width: 100%;
}

input#search-input[type="text"]:focus {
  outline: none;
}

.nav-center{
  padding-right: 10%;
}

.navbar-logo{
  font-size: 50px;
  color: black;
}

.navbar-logo:hover{
  font-size: 50px;
  color: gray;
  transition: color 0.12s linear;
}

.row-bg{
  background-color: white;
}

img.product-img{
  margin-left: 20px;
  width: 18rem;
}

.product-price{
  height: 20%;
}

.product-price h2{
  float: left;
  height: 100%;
}
.product-price b{
  float: left;
  margin-left: 2%;
  height: 100%;
  padding-top:1%;  
}

input.number-input[type=number]{
  width: 10%;
}

input.number-input[type=number]{
  width: 10%;
}

i.deleteIcon{
  color: rgb(0, 0, 0);
}

button.deleteButton{
  outline: none;
}

button.deleteButton {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}

button.deleteButton:focus {
  outline: none;
}

button.deleteButton:active {
  color:red;
}